// Quick hacks and styles which need a better home

// Fix: white appearing under footer on short pages
html {
  background: #dee0e2;
}
body {
  background: $white;
}
// End

// Layout
#content {
  max-width: 960px;
  padding: 30px;
}

.service-name {
  margin-left: 15px;
}
