-##### Set page title #####
- content_for :page_title, "#{config_item :app_title}"

- content_for :stylesheets do
  = stylesheet_link_tag "application", media: "all"

- content_for :javascripts do
  = javascript_include_tag "application"

-##### Render main GOVUK template #####
= render template: "layouts/moj_template"